<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h1>Index page</h1>
<h3>
    <a href="{% url 'courses:courses_list' %}">Зарегистрировать преподавателя</a>
</h3>
<h3>
    <a href="{% url 'accounts:teachers_list' %}">Список преподавателей</a>
</h3>
<h3>
    <a href="{% url 'courses:courses_list' %}">Зарегистрировать студента</a>
</h3>
<h3>
    <a href="{% url 'courses:courses_list' %}">ВОЙТИ</a>
</h3>
<h3>
    <a href="{% url 'courses:courses_list' %}">Посмотеть список курсов</a>
</h3>
<h4>
    <a href="{% url 'courses:contacts' %}">
        Отправить мыло
    </a>
</h4>
<h4>
    <a href="/api">
        REST Api
    </a>
</h4>
<h4>
    <a href="{% url 'graphql-api' %}">
        GRAPHQL Api
    </a>
</h4>
<h4>
    <a href="{% url 'token_obtain_pair' %}">
        Get JWT Token
    </a>
</h4>

</body>
</html>