{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Course Platformer {% endblock title %}</title>
</head>
{% block intro %}
    <h2> Welcome to CorsePlatformer</h2>
{% endblock intro %}

<section>
    {% block section %}
    <h3>
    <a href="{% url 'accounts:teacher_create' %}">Зарегистрировать преподавателя</a>
</h3>
<h3>
    <a href="{% url 'accounts:teachers_list' %}">Список преподавателей</a>
</h3>
<h3>
    <a href="{% url 'accounts:student_create' %}">Зарегистрировать студента</a>
</h3>

<h3>
    <a href="{% url 'courses:courses_list' %}">Посмотеть список курсов</a>
</h3>
<h4>
    <a href="{% url 'courses:contacts' %}">
        Отправить мыло
    </a>
</h4>
    {% endblock section %}
</section>


<aside>...</aside>


<footer>
    {% block footer %}

    {% endblock footer %}
</footer>