<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<body>
<h3>Список СЕКРЕТНЫХ  курсов:</h3>
<ul>

</ul>
{% for course in object_list %}
    <p><strong>Название курса: <a href="{% url 'courses:course_detail' course.pk %}"> {{ course.course_title }}</a></strong></p>
        <p>Описание курса: {{ course.description }}</p>
    <p><a href="{% url 'courses:course_edit' course.pk %}"><h5> Отредактировать курс </h5> </a></p>
   <a href="{% url 'courses:course_delete' course.pk %}"><h5> Удалить курс </h5> </a>
{% endfor %}
<hr>

<a href="{% url 'courses:create_course' %}"><input type="submit" value="Создать новый курс"></a>

</body>
</html>